/*
* Theme name: Mortage Tailors 2K22 - Light AXe Child
* Template: light-axe
* Template Version: 1.1.13
* Author: AZ Naqvi
* Author URI: https://bitbucket.org/AXeNaqvi/
* Version: 1.0.1
* License: GNU General Public License v2.0 and above
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
* Description: Child theme for Light AXe.
* Tags: theme-options, two-columns, left-sidebar, right-sidebar,custom-menu,full-width-template,custom-header,flexible-header,custom-logo,featured-image-header,featured-images,footer-widgets,sticky-post,threaded-comments,translation-ready
* Subject Tags: blog
*/
/* General */
h1,h2,h3,h4,h5,h6{font-weight:600}
a,#maincontent a{opacity:1}
.allwhite, .allwhite *,.allwhite a:hover{color:#FFF}
.axeflex > .w{flex:1}
#maincontent{position:relative}
.axe_edit_content{position:absolute;bottom:0;left:20px;display:inline-block;padding:10px 20px;background:#151515}
.axe_edit_content a{color:#FFF!important}
.axe_edit_content a:hover{opacity:0.5!important}
.zerolineheight{line-height:0;}
table, table tr td, table tr th{border:1px solid #CCC}
#goup{bottom:26px}
.tertiarybg{background-color:#ededed!important}
.panel-layout > .panel-grid{margin-bottom:0px!important}
.panel-layout > .panel-grid > div{padding:90px 0px}
.panel-grid-cell .widget-title{margin-bottom:30px}
.textcenter{text-align:center;}
.p20 p, p.p20{font-size:20px}
.whitebgbox{background:#FFF;padding:35px}
.primarybgbox{padding:25px;margin:20px 0px}
.primarybgbox > h6{margin:0px;}

.sitelogo img{height:97px;}

a.axebutton{color:#FFF!important;background-color:#2b997f;border:none;margin:10px;padding:16px 40px;font-size:20px;line-height:initial;}
a.axebutton:nth-child(even){background-color:#000}
a.axebutton:hover{padding:16px 40px;font-size:20px;line-height:initial;}

.wp-video{margin:auto;border:10px solid #FFF;box-shadow:0px 0px 15px #CCC}
.home h1.titleheading{display:none;}

/* #topheader */
#topheader{padding:0px;min-height:0}
/* #topheader */

/* #logomenusection */
#logomenusection{padding:25px 0px;margin-bottom:0px;}
#logomenusection > .wrapwidth > .axeflex{align-items:center;justify-content:center;text-align:center}
/* #logomenusection */

/* .header_call */
.header_call .axevcard{}
.header_call .axevcard li{display:flex;align-items:center;text-align:left;justify-content:center}
.header_call .axevcard li *{font-size:20px;}
.header_call .axevcard li a::before{content:'Call Us:';display:block;font-size:15px;font-weight:600}
.header_call .axevcard span.vcardlabel{width:46px;height:46px;font-size:35px;text-align:center;color:#FFF;border-radius:50%;line-height:35px;}
/* .header_call */

/* main menu */
.axemainmenu{display:block}
.axemainmenu ul li{margin:0px;float:left}
.axemainmenu ul li a,.ctabtn a{padding:17.5px 30px}
.axemainmenu ul li a,.axemainmenu ul li a:hover,.axemainmenu ul li:hover > a, .axemainmenu ul li.current_page_item > a,.axemainmenu ul li.current_page_parent > a,.axemainmenu ul li.current_page_ancestor > a{color:#FFF;opacity:1!important}
.axemainmenu ul li ul li{padding:0px}
.axemainmenu ul li ul li a{padding:10px 30px;position:relative}
.axemainmenu ul li ul li a::after{content:'';position:absolute;height:0.75px;width:0px;left:0px;top:100%;background:#000;transition:all 0.9s;opacity:0;z-index:1}
.axemainmenu ul li ul li a:hover,.sub-menu li.current_page_item a{background:#151515}
.axemainmenu ul li ul li a:hover::after,.sub-menu li.current_page_item a::after{width:100%;background:#333;opacity:0.9}
.childmainmenu .axemainmenu ul li.menu-button{float:right}
/* main menu */

/* .caption-wrap */
#bannersection{overflow:hidden}
.metaslider .caption-wrap{opacity:1!important;background:rgba(0,0,0,0.5)!important;/*display:flex!important;*/text-align:center;/*justify-content:center;align-items:center;*/width:100%;height:100%;left:0;top:0}
.metaslider .caption-wrap *{color:#FFF;line-height:initial}
.metaslider .caption-wrap p{font-size:20px}
.metaslider .caption-wrap h2{font-size:70px}
.metaslider .caption-wrap .caption{/*flex:1*/display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;height:100%}
/* .caption-wrap */

/* h1.titleheading */
h1.titleheading{margin:40px auto}
/* h1.titleheading */

/* axeadbox */
.axesidebox.axeflex > .w,.axesidebox.axeflex > .w *{color:#FFF}
.axesidebox.axeflex > .w{flex:1;margin:70px 4px 10px;text-align:center;}
.axeadbox{padding:100px 30px 45px;position:relative}
.axeadbox h3.adboxtitle{font-size:25px;line-height:initial;}
.axeadbox .adboximgblock{position:absolute;width:131px;max-width:50%;top:-65px;left:0px;right:0px;margin:auto;transition:all 0.3s}
.axeadbox .adboximgblock .adboximg{border-radius:50%;overflow:hidden;border:6px solid #FFF}
.axesidebox.axeflex > .w:nth-child(even), .axesidebox.axeflex > .w:nth-child(even) .adboximgblock .adboximg{background-color:#2b997f}
.axesidebox.axeflex > .w:hover .axeadbox .adboximgblock{top:-40px}
/* axeadbox */

/* .badges_section */
.badges_section ul{display:flex;align-items:center;justify-content:center;flex-wrap:wrap}
.badges_section ul li{flex:1;list-style:none;width:33.333%;padding:10px;min-width:33.333%;margin:0px!important;flex-grow:0;max-width:100%}
.badges_section ul li img{transition:all 0.4s}
.badges_section ul li a:hover img{transform:scale(1.04);}
/* .badges_section */

/* .themeaxe-socialmedia-links */
ul.themeaxe-socialmedia-links{}
ul.themeaxe-socialmedia-links li{width:34px;height:34px;text-align:center;margin:10px}
ul.themeaxe-socialmedia-links li a{display:block;line-height:30px;border:2px solid #000;border-radius:50%;background-color:#000;color:#FFF}
/* .themeaxe-socialmedia-links */

/* .axevcard */
.axevcard ul{}
.axevcard ul li{display:flex;margin:0px}
.axevcard ul li span.vcardlabel{margin-right:10px;font-size:15px}
#maincontent .axevcard ul li{margin:0px 0px 7px;padding-left:0px}
/* .axevcard */

/* iframe */
iframe.lazyloaded, iframe.calc-iframe{width:100%!important}
/* iframe */

/* Contact */
.Appointment-cont{padding:20px;box-shadow:1px 1px 3px #000;}
.Appointment-cont h5,.Appointment-cont h6{margin:0px}
.Appointment-cont .axevcard{margin-top:15px}
/* Contact */

/* .wpcf7 */
input.wpcf7-submit{width:100%;padding:20px}
/* .wpcf7 */

/* Blog */
.commentcount a{color:#FFF!important}
.titleheading + .axeflex > .w, .single #maincontentinner > .axeflex > .w{flex:auto}
.axesidebar h3{font-size:20px;line-height:initial;margin:0px 0px 20px}
/* Blog */

/* #footer */
#footer{border-top:none;padding:45px 0px;font-size:inherit;background:#151515;margin-top:0}
#footer .footinner > .w{padding:45px 0px}
#footer h3{font-size:25px;line-height:initial;margin:0px 0px 30px}
#footer li{list-style:none;margin-bottom:15px}
#footer a,.footer-bottom *{color:#FFF!important}
#footer a:hover{opacity:0.6}
#footer ul.themeaxe-socialmedia-links li{width:30px;height:30px;margin:10px 20px 10px 0px}
#footer ul.themeaxe-socialmedia-links li a{border-color:#FFF;line-height:26px;background-color:transparent}
.footer-bottom{padding:10px 0px;text-align:center}
/* #footer */

/* #axemobilecaller */
#axemobilecaller{display:none}
#axemobilecaller > .axeflex{align-items:center;}
#axemobilecaller > .axeflex .w{min-width:0px}
#axemobilecaller > .axeflex .w.w3{width:50px}
#axemobilecaller > .axeflex .w.w9{width:calc(100% - 50px)}
.ctabtn{text-align:right}
.axemobilecaller a, .axemobilecaller a:hover{padding:17.5px 20px;line-height:initial;display:inline-block}
/* #axemobilecaller */

/* Responsive */
@media screen and (max-width:1170px){
    .childmainmenu > .wrapwidth{width:100%}
    .axemainmenu ul li a{padding:17.5px 2.564vw;font-size:1.282vw;}
    .panel-layout > .panel-grid > div{padding:7.692vw 0px}
    .metaslider .caption-wrap h2{font-size:5.983vw}
}
@media screen and (max-width:960px){
    #logomenusection > .wrapwidth > .axeflex > .w{order:2;width:50%;min-width:50%;flex-grow:0;margin:10px 0px;flex-wrap:wrap;}
    #logomenusection > .wrapwidth > .axeflex > .w.w4.axelogoarea{order:1;width:100%;min-width:100%}
    #axemobilecaller{display:block}
    .axemainmenu{display:none}
    .axemainmenu ul li{display:block;float:none;clear:both;text-align:left;}
    .axemainmenu ul li a{font-size:17px;}
    .axemainmenu ul li li a{font-size:15px;}
    .axemainmenu ul li ul.sub-menu{display:block;position:relative;}
    .childmainmenu .axemainmenu ul li.menu-button{float:none}
}
@media screen and (max-width:680px){
    ul.themeaxe-socialmedia-links li{margin:10px 1.471vw}
    .badges_section ul li{min-width:50%;width:50%}
    .metaslider .caption-wrap p,.metaslider .caption-wrap a{font-size:2.941vw}
    .metaslider .caption-wrap a.axebutton{padding:2.353vw 5.882vw}
}
@media screen and (max-width:420px){
    #logomenusection > .wrapwidth > .axeflex > .w{/* width:100%;min-width:100% */}
    #axemobilecaller > .axeflex{display:block}
    #axemobilecaller > .axeflex > .w{display:inline-block}
}
/* Responsive */